.status-code-ok {
    color: green;
}

.status-code-bad {
    color: red;
}

body#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.login-form {
    border: 1px solid #868282;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: white;
    border: none;
    border-radius: 4px;
}

body#register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.register-form {
    border: 1px solid #868282;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: white;
    border: none;
    border-radius: 4px;
}
