/* index.html */
body#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.login-form {
    border: 1px solid #868282;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: white;
    border: none;
    border-radius: 4px;
}

/* register.html */
body#register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.register-form {
    border: 1px solid #868282;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: white;
    border: none;
    border-radius: 4px;
}

/* header: username/logout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(60, 60, 255);
    color: white;
    padding: 10px 20px;
}


/* menu */
.sidebar {
    position: fixed;
    top: 60px;
    width: 200px;
    height: calc(100% - 60px);
    background: #e5e5e5e1;
    padding: 20px 0;
}

.sidebar .nav-menu {
    list-style: none;
    padding: 0;
}

.sidebar .nav-link {
    display: block;
    padding: 12px 20px;
    color: darkslategray;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background: rgb(60, 60, 255);
    color: white;
}

.sidebar .nav-link.active {
    background: rgb(60, 60, 255);
    color: white;
}

/* main.html */

.main-page .container {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    position: relative;
}
.main-page .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.main-page .box {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.main-page button {
    background: rgb(60, 60, 255);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}
.main-page button:hover {
    background: rgb(100, 100, 250);
}
.main-page input {
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-page .search-filter {
    margin-bottom: 15px;
}
.main-page .search-filter input {
    padding: 8px;
    font-size: 14px;
}

.main-page .inline-form {
    display: inline;
}

/* website.html */
.website-page .container {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    position: relative;
}
.website-page .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.website-page .box {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.website-page button {
    background: rgb(60, 60, 255);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}
.website-page button:hover {
    background: rgb(100, 100, 250);
}
.website-page input {
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.website-page .search-filter {
    margin-bottom: 15px;
}
.website-page.search-filter input {
    padding: 8px;
    font-size: 14px;
}

.website-page .inline-form {
    display: inline;
}

/* profile.html */
.profile-page .container {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    position: relative;
}
.profile-page  .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.profile-page  .box {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.profile-page  button {
    background: rgb(60, 60, 255);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}
.profile-page  button:hover {
    background: rgb(100, 100, 250);
}
.profile-page  input {
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-page  .search-filter {
    margin-bottom: 15px;
}
.profile-page .search-filter input {
    padding: 8px;
    font-size: 14px;
}

.profile-page  .inline-form {
    display: inline;
}

/* .websites-table, universal */
.websites-table {
    width: 100%;
    border-collapse: collapse;
}

.websites-table th,
.websites-table td {
    padding: 4px 5px;
    text-align: left;
}

.websites-table th:nth-child(1),
.websites-table td:nth-child(1) {
    width: 10px;
}

.websites-table th:nth-child(2),
.websites-table td:nth-child(2) {
    width: 200px;
}

.websites-table th:nth-child(3),
.websites-table td:nth-child(3) {
    width: 40px;
}

.websites-table th:nth-child(4),
.websites-table td:nth-child(4) {
    width: 40px;
}

.websites-table th:nth-child(5),
.websites-table td:nth-child(5) {
    width: 10px;
}

.websites-table th:nth-child(6),
.websites-table td:nth-child(6) {
    width: 10px;
}

.websites-table td.status-ok-true { 
    color: green;
}

.websites-table td.status-ok-false {
    color: red;
}

.websites-table td.url-code-green {
    color: green;
}

.websites-table td.url-code-yellow {
    color: yellow;
}

.websites-table td.url-code-red {
    color: red; 
}

/* reports-table */
.reports-table {
    width: 50%;
    border-collapse: collapse;
}

.reports-table th,
.reports-table td {
    padding: 4px 5px;
    text-align: left;
}

.reports-table th:nth-child(1),
.reports-table td:nth-child(1) {
    width: 10px;
}

.reports-table th:nth-child(2),
.reports-table td:nth-child(2) {
    width: 10px;
}

.reports-table th:nth-child(3),
.reports-table td:nth-child(3) {
    width: 10px;
}

.reports-table th:nth-child(4),
.reports-table td:nth-child(4) {
    width: 10px;
}

.reports-table td.status-ok-true {
    color: green;
}

.reports-table td.status-ok-false {
    color: red;
}

.reports-table td.url-code-green {
    color: green;
}

.reports-table td.url-code-yellow {
    color: yellow;
}

.reports-table td.url-code-red {
    color: red;
}
