/* test */
.status-code-ok {
    color: green;
}

.status-code-bad {
    color: red;
}

/* index.html */
body#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.login-form {
    border: 1px solid #868282;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: white;
    border: none;
    border-radius: 4px;
}

/* register.html */
body#register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.register-form {
    border: 1px solid #868282;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: white;
    border: none;
    border-radius: 4px;
}

/* menu */
.main-page .sidebar {
    position: fixed;
    top: 60px;
    width: 200px;
    height: calc(100% - 60px);
    background: #e5e5e5e1;
    padding: 20px 0;
}

.main-page .sidebar .nav-menu {
    list-style: none;
    padding: 0;
}

.main-page .sidebar .nav-link {
    display: block;
    padding: 12px 20px;
    color: darkslategray;
    text-decoration: none;
}

.main-page .sidebar .nav-link:hover {
    background: rgb(60, 60, 255);
    color: white;
}
.main-page .sidebar .nav-link.active {
    background: rgb(60, 60, 255);
    color: white;
}

/* main.html */
.main-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(60, 60, 255);
    color: white;
    padding: 10px 20px;
}

.main-page .container {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    position: relative;
}
.main-page .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.main-page .box {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.main-page button {
    background: rgb(60, 60, 255);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}
.main-page button:hover {
    background: rgb(100, 100, 250);
}
.main-page input {
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-page .search-filter {
    margin-bottom: 15px;
}
.main-page .search-filter input {
    padding: 8px;
    font-size: 14px;
}

.main-page .inline-form {
    display: inline;
}

/* add_website.html */
.add-website header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(60, 60, 255);
    color: white;
    padding: 10px 20px;
}

.add-website .container {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    position: relative;
}
.add-website .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.add-website .box {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

/* profile.html */
.profile header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(60, 60, 255);
    color: white;
    padding: 10px 20px;
}

.profile .container {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    position: relative;
}
.profile .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.profile .box {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}