<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <p>
        <b>Website:</b> localhost:5000/ping 
        <b>Status:</b> 
        <span class="{% if status[0] == 200 %} green {% else %} red {% endif %}">
            {{ status[0] }}
        </span>
    </p>
    <p>
        <b>Website:</b> localhost:5000/ping-fail
        <b>Status:</b> 
        <span class="{% if status[1] == 200 %} green{% else %} red {% endif %}">
            {{ status[1] }}
        </span>
    </p>
</body>
</html>
