<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="static/styles.css" />
    </head>
<!-- self.note: Login required -->
<body class="main-page">
<header>
    <div>User: <span id="username">Username</span></div>
    <button id="logout">Logout</button>
</header>

<div class="container">
    <div class="main-box">
        <div class="box">
            <!-- self.note: Iterate User Websites-->
            <h2>Your Monitored Websites</h2>
            <div id="monitored-websites">
                {% for website in personal_websites %}
                <div class="website">
                    <span>{{ website.addr }}</span>
                    <form method="POST" action="/toggle-visibility" class="inline-form">
                        <input type="hidden" name="website_id" value="{{ website.id }}">
                        <input type="hidden" name="website_visibility" value="{{ website.public }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">{% if website.public %}Hide{% else %}Public{% endif %}</button>
                    </form>
                    <form method="POST" action="/delete-website" class="inline-form">
                        <input type="hidden" name="website_id" value="{{ website.id }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box">
            <h2>Public Websites</h2>
            <form method="GET" class="search-filter">
                <input type="text" name="filter" value="{{ filter_query }}">
                <button type="submit">Search</button>
            </form>
            <div id="public-websites">
                <div class="website">
                {% for website in public_websites %}
                                <div class="website">
                                    <span>{{ website.addr }}</span>
                                    <button>Copy</button>
                                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="secondary-box">
        <h2>Add New Website</h2>
        <form method="POST" action="/add-website">
            <input type="text" placeholder="Address" id="address" name="address" required>
            <input type="text" placeholder="Keyword" id="keyword" name="keyword">
            <button type="submit" id="add-website">Add</button>
            <input
                type="hidden"
                name="csrf_token"
                value="{{ session.csrf_token }}"
            />
        </form>
    </div>
    <div class="flashed-messages">
        {% for message in get_flashed_messages() %}
        <div class="error">
            <p>
                <b>{{ message }}</b>
            </p>
        </div>
        {% endfor %}
    </div>
</div> <!-- self.note: end of login required -->

</body>
</html>
