<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="static/styles.css" />
    </head>
<!-- self.note: Login required -->
<body class="main-page">
<header>
    <div>User: <span id="username">{{ session.username }}</span></div>
    <form method="POST" action="/logout">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button id="logout">Logout</button>
    </form>
</header>

<nav class="sidebar">
    <ul class="nav-menu">
        <li><a href="/main" class="nav-link">Dashboard</a></li>
        <li><a href="/profile" class="nav-link active">Profile</a></li>
        <li><a href="/add-website" class="nav-link">Add Website</a></li>
    </ul>
</nav>

<div class="container">
    <div class="main-box">
        <div class="box">
            <h2>Profile</h2>
    </div>
</div> <!-- self.note: end of login required -->

</body>
</html>