<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
<!-- self.note: Login required -->
<body class="profile-page">
<header>
    <div>User: <span id="username">{{ session.username }}</span></div>
    <form method="POST" action="/logout">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button id="logout">Logout</button>
    </form>
</header>

<nav class="sidebar">
    <ul class="nav-menu">
        <li><a href="/main" class="nav-link">Dashboard</a></li>
        <li><a href="/profile/{{ session.user_id }}" class="nav-link active">Profile</a></li>
        <li><a href="/website" class="nav-link">Websites</a></li>
    </ul>
</nav>

<div class="container">
    <div class="main-box">
        <div class="box">
            <h2>Profile</h2>
            {% for data in userdata %}
            <p>Username {{ data.username }}</p>
            <p>Created at: {{ data.creation_date }}</p>
            {% endfor %}
            <!-- self.note: Iterate User Websites-->
            <h2>Your Monitored Websites</h2>
            <div id="monitored-websites">
                {% for website in personal_websites %}
                <div class="website">
                    <span>{{ website.addr }}</span>
                    <form method="POST" action="/toggle-visibility" class="inline-form">
                        <input type="hidden" name="website_id" value="{{ website.id }}">
                        <input type="hidden" name="website_visibility" value="{{ website.public }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">{% if website.public %}Hide{% else %}Public{% endif %}</button>
                    </form>
                    <form method="POST" action="/delete-website" class="inline-form">
                        <input type="hidden" name="website_id" value="{{ website.id }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">Delete</button>
                    </form>
                    <form method="POST" action="/website/{{ website.id }}/report" class="inline-form">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">Report</button>
                    </form>
                </div>
                {% endfor %}
            </div>
            <h2>User Websites Report Log</h2>
            <div id="reported-websites">
                {% for report in reports %}
                <div class="report">
                    <span>{{ report.url_status_ok }}</span>
                    <span>{{ report.url_code }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> <!-- self.note: end of login required -->
</div>
</body>
</html>