<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Websites</title>
        <link rel="stylesheet" href="static/styles.css" />
    </head>
<!-- self.note: Login required -->
<body class="website-page">
<header>
    <div>User: <span id="username">{{ session.username }}</span></div>
    <form method="POST" action="/logout">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button id="logout">Logout</button>
    </form>
</header>

<nav class="sidebar">
    <ul class="nav-menu">
        <li><a href="/main" class="nav-link">Dashboard</a></li>
        <li><a href="/profile" class="nav-link">Profile</a></li>
        <li><a href="/website" class="nav-link active">Websites</a></li>
    </ul>
</nav>

<div class="container">
    <div class="main-box">
        <div class="flashed-messages">
        {% for message in get_flashed_messages() %}
        <div class="error">
            <p>
                <b>{{ message }}</b>
            </p>
        </div>
        {% endfor %}
        </div>
        <div class="box">
        <h2>Add New Website</h2>
        <form method="POST" action="/add-website">
            <input type="text" placeholder="Address" id="address" name="address" required>
            <input type="text" placeholder="Keyword" id="keyword" name="keyword">
            <button type="submit" id="add-website">Add</button>
            <input
                type="hidden"
                name="csrf_token"
                value="{{ session.csrf_token }}"
            />
        </form>
    </div>
</div> <!-- self.note: end of login required -->

</body>
</html>
