<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Website Info</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
<!-- self.note: Login required -->
<body class="profile-page">
<header>
    <div>User: <span id="username">{{ session.username }}</span></div>
    <form method="POST" action="/logout">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button id="logout">Logout</button>
    </form>
</header>

<nav class="sidebar">
    <ul class="nav-menu">
        <li><a href="/main" class="nav-link">Dashboard</a></li>
        <li><a href="/profile/{{ session.user_id }}" class="nav-link">Profile</a></li>
        <li><a href="/website" class="nav-link active">Websites</a></li>
    </ul>
</nav>

<div class="container">
    <div class="main-box">
        <div class="box">
            <h2>Website Info</h2>
            <p>Identifier:{{ website_data.id }}</p>
            <p>Owner: {{ website_data.user_id }}</p>
            <p>Address: https://{{ website_data.addr }}</p>
            <p>Public: {{ website_data.public }}</p>
            <p>Status: {{ website_data.url_status_ok }}</p>
            <p>HTTP Code: {{ website_data.url_code }}</p>
            <form method="POST" action="/toggle-visibility" class="inline-form">
                <input type="hidden" name="website_id" value="{{ website_data.id }}">
                <input type="hidden" name="website_visibility" value="{{ website_data.public }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit">{% if website_data.public %}Hide{% else %}Public{% endif %}</button>
            </form>
            <form method="POST" action="/delete-website" class="inline-form">
                <input type="hidden" name="website_id" value="{{ website_data.id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit">Delete</button>
            </form>
            <form method="POST" action="/update-priority" class="inline-form">
                <input type="hidden" name="website_id" value="{{ website_data.id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <select name="priority" required>
                    <option value="">Select Priority</option>
                    {% for priority in priority_classes %}
                    <option value="{{ priority.id }}">{{ priority.class }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Update</button>
            </form>
            <br>
            <h3>Reports</h3>
            <table class="reports-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reporter</th>
                        <th>URL Status</th>
                        <th>URL Code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                    <tr>
                        <td>{{ report.report_date }}</td>
                        <td>{{ report.username }}</td>
                        {% if report.url_status_ok %}
                            <td class="status-ok-true">OK</td>
                        {% else %}
                            <td class="status-ok-false">ERROR</td>
                        {% endif %}
                        {% if report.url_code %}
                            {% if report.url_code >= 200 and report.url_code < 300 %}
                                <td class="url-code-green">{{ report.url_code }}</td>
                            {% elif report.url_code >= 300 and report.url_code < 400 %}
                                <td class="url-code-yellow">{{ report.url_code }}</td>
                            {% else %}
                                <td class="url-code-red">{{ report.url_code }}</td>
                            {% endif %}
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- self.note: end of login required -->

</body>
</html>